#user-modifier {
  position: relative;
  top: 3%;
  width: 100%;
  height: 90%;
  color: white;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 45% 15%;
  justify-content: center;
  font-size: 18pt;
}
#user-modifier button:not(.is-not-toggle):not(.is-toggle) {
  margin: 2vh 0 0 1vw;
  height: 5vh;
  border: 1px grey solid;
  font-weight: 600;
  color: grey;
  background-color: #141414;
  font-size: 18pt;
  outline: none;
  cursor: pointer;
}
#user-modifier button:hover:not(.is-not-toggle):not(.is-toggle):not(:disabled) {
  color: black;
  background-color: white;
}
#user-modifier button:hover:not(.is-not-toggle):not(.is-toggle):disabled {
  cursor: not-allowed;
}
#user-modifier #save {
  margin: 2vh 0 0 0vw;
}
#user-modifier-title,
#user-infos {
  border-bottom: 1px #999 solid;
}
#user-modifier-title,
#user-infos,
#user-modifier-buttons {
  grid-column: 2;
}
#user-modifier-title {
  font-size: 48pt;
  grid-row: 1;
}
#user-infos {
  grid-row: 2;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 15% 30% 40%;
}
#user-avatar {
  position: relative;
  grid-column: 1;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-avatar > img {
  height: 130px;
  width: 130px;
}
.svg-icon-edit {
  position: absolute;
  width: 2rem;
  height: 2rem;
  max-width: 45px;
  max-height: 45px;
  background-color: #141414;
  left: 15%;
  bottom: 15%;
  cursor: pointer;
}
#avatar-list {
  background-color: #141414;
  border-top: 1px solid grey;
  position: absolute;
  width: 962px;
  height: 30vw;
  overflow-y: scroll;
  left: 0;
  top: 100%;
}
#avatar-list > img {
  height: 130px;
  width: 130px;
  margin: 2px;
}
#avatar-list > img:hover {
  border: 2px white solid;
  margin: 0;
  cursor: pointer;
}
#user-modifier-name {
  position: relative;
  grid-column: 2;
  grid-row: 1;
  width: 60%;
  height: 55%;
  left: 5%;
  top: 2vh;
  outline: none;
  border: 1px solid white;
  font-size: 18pt;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name-incorrect::placeholder {
  color: white;
  font-weight: bold;
  font-style: normal;
}
.name-incorrect {
  background-color: rgb(231, 69, 69);
}
input::placeholder {
  font-style: italic;
}
input {
  background-color: #141414;
}
#first-selecter,
#second-selecter {
  grid-column: 2;
  grid-row: 3;
}
#second-selecter {
  position: relative;
  left: 45%;
}
#user-modifier-buttons {
  grid-row: 3;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}
